a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

* {
  box-sizing: border-box;
}

body.hiddenFlow {
  overflow: hidden;
}

// UTILS

/* Chrome, Safari, Edge, Opera */
.input-count-buy::-webkit-outer-spin-button,
.input-count-buy::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input-count-buy[type="number"] {
  -moz-appearance: textfield;
}

.btn-ab-buy {
  padding: 5px;
  width: 100%;
  background-color: #f79c3a;
  border: none;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  transition: all ease-in-out 0.2s;
  &:hover {
    scale: 1.03;
    background-color: #f28b1e;
  }
}

.dropdown {
  &.ab-ctm {
    ul {
      li {
        a {
          font-size: 16px;
        }
      }
    }
  }

  &.cart-dropdown {
    .dropdown-menu {
      padding: 10px;
      width: 300px;
      .cart-body {
        max-height: 400px;
        overflow: auto;

        .cart-empty {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          img {
            width: 100px;
            margin-bottom: 20px;
          }
          span {
            font-size: 14px;
            color: #895e30;
          }
        }

        .cart-item {
          display: flex;
          align-items: center;
          padding: 10px 0;
          border-bottom: 1px solid #eee;
          .img-box {
            width: 60px;
            height: 60px;
            margin-right: 10px;
            background-color: #fff;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .info {
            flex: 1;
            .name {
              font-size: 14px;
            }
            .price {
              font-size: 14px;
            }
            .count {
              font-size: 12px;
            }
          }
        }
      }
      .cart-footer {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        .show-cart {
          display: flex;
          flex: 1;
          justify-content: center;
          align-items: center;
          padding: 5px;
          background-color: #f28b1e;
          color: #fff;
          font-weight: 500;
          border-radius: 5px;
        }
      }
    }
  }
}

.modal-login {
  background-color: rgba(0, 0, 0, 0.2);
  .modal-content {
    border-radius: 10px;
    border: none;
  }
  .body-modal-login {
    .form-input-auth {
      display: flex;
      border: 1px solid #eee;
      align-items: center;
      margin-bottom: 10px;
      border-radius: 5px;
      &:focus-within {
        border: 1px solid #ddd;
      }
      .input {
        padding: 10px;
        flex: 1;
        border: none;
        outline: none;
        background-color: transparent;
      }
      i {
        width: 25px;
      }
    }
    .btn-submit-auth {
      width: 100%;
      height: 45px;
      background-color: #f28b1e;
      color: #fff;
      font-weight: 600;
      border: none;
      border-radius: 5px;
    }
  }
}
// UTILS

.ab_main_nav {
  position: sticky;
  top: 0;
  z-index: 99;

  .logo {
    .logo-full {
      width: 130px;
    }

    .logo-img {
      width: 40px;
    }
  }

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);

  .ab_top_nav {
    height: 32px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(#f7bb7a, #f9dfc3);
    color: #232323;
  }

  .ab_bottom_nav {
    height: 57px;
    display: flex;
    align-items: center;

    .left {
      width: 40px;
    }

    .center {
      flex: 1;
      padding: 0 5px;

      .search-wrapper {
        width: 100%;

        display: flex;
        align-items: center;
        border: 1px solid #ddd;
        border-radius: 5px;

        &:focus-within {
          border: 1px solid #aaa;
        }

        input {
          flex: 1;
          border: none;
          outline: none;
          background-color: transparent;
          padding-left: 10px;
          height: 32px;
          font-size: 16px;
        }

        .ic_search {
          width: 30px;
          height: 32px;
          background-color: transparent;
          border: none;
        }
      }
    }

    .right {
      width: 40px;

      .menu-right {
        display: flex;
        align-items: center;

        .item {
          ._ic_box {
            border-radius: 6px;
            position: relative;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 0;
            font-size: 20px;
            color: #888;

            .count-item {
              position: absolute;
              top: -3px;
              left: 10px;
              height: 13px;
              min-width: 13px;
              border-radius: 50px;
              padding: 2px;
              background-color: red;
              border: 2px solid #fff;
              font-size: 9px;
              color: #fff;
              font-weight: 800;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          .dropdown {
            .dropdown-menu {
              border: none;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }
          }

          .profile {
            font-size: 14px;
            color: #232323;

            img {
              background-color: rgb(255, 255, 255);
              border: 1px solid #ddd;
              border-radius: 50%;
              padding: 3px;
              width: 33px;
              height: 33px;
            }
          }
        }
      }
    }
  }

  .menus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    font-size: 13px;

    .menu {
      display: flex;
    }

    .left {
      display: flex;
      align-items: center;

      span {
        font-size: 12px;
        font-weight: 600;
      }

      ._icon_download_app {
        display: flex;
        width: 22px;
        height: 22px;
        background-color: #000;
        margin-left: 5px;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        color: #fff;
      }
    }

    .right {
      .item {
        .link {
          display: flex;

          ._ic {
            margin-right: 3px;
            position: relative;

            .badge_ic {
              position: absolute;
              height: 6px;
              width: 6px;
              background-color: rgb(255, 50, 50);
              top: -1px;
              left: -1px;
              border-radius: 5px;
            }
          }
        }
      }
    }
  }
}

.hero {
  padding: 10px 0;
  background: linear-gradient(#f9e9d6, #fff);

  .hero__left {
    flex: 1;
    height: 150px;
  }

  .hero__right {
    flex-direction: column;

    height: 100px;

    .banner_right {
      height: 100%;
      margin: 2px;
      display: flex;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
      }
    }
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 150px;
    border-radius: 8px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper.heroSliderRight {
    .swiper-wrapper {
      .swiper-slide {
        height: 100px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.top-category-box {
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 8px;

  .category-item {
    width: 70px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      img {
        rotate: (-5deg);
        scale: 1.1;
      }
    }

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      transition: all ease-in-out 0.3s;
    }

    span {
      font-size: 10px;
      text-align: center;
      display: block;
      padding-bottom: 5px;
    }
  }
}

.message-live {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(6, 2, 23);
  .link-home {
    color: #fff;
    font-size: 22px;
    position: fixed;
    left: 10px;
    top: 10px;
  }
  .message {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    text-align: center;
  }
  p {
    color: #fff;
  }
  .download-app {
    display: flex;
    .link-app {
      width: 50px;
      height: 50px;
      display: flex;
      background-color: #fff;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      flex: 1;
      font-size: 32px;
      margin: 0 10px;
    }
  }
}

.live-wrapper-show {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.live-box-show {
  background-color: #fff;
  .video-player {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    outline: none;
    border: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .icon-close {
    position: fixed;
    padding: 10px;
    z-index: 10;
    left: 10px;
    .link-back {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      height: 35px;
      width: 35px;
      border-radius: 50%;
    }
  }

  .live-chat {
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 11;
    bottom: 10px;
    right: 10px;
    width: 100vw;
    height: 50vh;
    border-radius: 8px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    .header {
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-weight: 700;
      font-size: 22px;
    }
    .body {
      flex: 1;
      padding: 10px;
      overflow: auto;
      .chat-item {
        display: flex;
        border-radius: 50px;
        margin-bottom: 16px;
        .avatar {
          width: 30px;
          height: 30px;
          margin-right: 10px;
          background-color: #fff;
          border-radius: 50%;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .text {
          flex: 1;
          // background-color: rgba(255, 255, 255, 0.8);
          font-size: 16px;
          color: #fff;
          border-radius: 5px 10px 10px 10px;
          // padding: 10px;
        }
      }
    }
    .form-box {
      position: sticky;
      bottom: 0;
      height: 60px;
      .form-chat-box {
        display: flex;
        padding: 10px;
        .inputText {
          flex: 1;
          outline: none;
          border-radius: 8px;
          border: none;
          padding: 0 10px;
        }
        .btn-send-chat {
          width: 40px;
          height: 40px;
          background-color: transparent;
          border: none;
          background-color: #000;
          color: #fff;
          margin-left: 6px;
          border-radius: 8px;
        }
      }
    }
  }
  .selected-product {
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    z-index: 11;
    top: 60px;
    left: 5px;
    width: 100vw;
    height: 35vh;
    border-radius: 8px;
    padding: 10px;
    height: 70vh;
    .title {
      font-weight: 700;
      font-size: 22px;
      color: #fff;
      margin-bottom: 10px;
    }
    .product-box {
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      padding: 10px;
      .item-product {
        .prd {
          display: flex;
          overflow: hidden;
          .img-wrapper {
            height: 80px;
            width: 80px;
            overflow: hidden;
            background-color: #fff;
            border: 1px solid #fff;
            margin-right: 5px;
            border-radius: 5px;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
          .infos {
            flex: 1;
            span {
              font-size: 13px;
              color: #fff;
            }
          }
        }
      }
      .actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .price {
          font-size: 18px;
          font-weight: 700;
          flex: 1;
          color: #f28b1e;
        }
        .btn-in-review {
          padding: 5px 10px;
          margin-left: 5px;
          background-color: #f28b1e;
          color: #fff;
          border: none;
          border-radius: 5px;
        }
      }
    }
  }

  .open-product-live {
    position: absolute;
    bottom: 70px;
    left: 10px;
    background-color: #fff;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    z-index: 15;
    &.deIndex {
      z-index: 1;
    }
  }
}

.productList {
  position: absolute;
  top: 100vh;
  background-color: #fff;
  z-index: 12;
  width: 100%;
  height: 70vh;
  overflow: auto;
  transition: all ease-in-out 0.3s;
  &.show {
    top: 30vh;
    padding-bottom: 100px;
  }
  .open-product-live {
    position: sticky;
    top: 10px;
    left: 10px;
    z-index: 13;
    background-color: #fff;
    color: #000;
    font-size: 22px;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }
}

.header-box {
  display: flex;
  align-items: center;
  color: #f7bb7a;

  .divider {
    height: 5px;
    background-color: #f9dfc3;
    flex: 1;
  }

  .title {
    background-color: #fff;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    i {
      font-size: 28px;
      margin: 0 3px;
    }

    span {
      font-size: 20px;
      font-weight: 700;
    }
  }
}

.header-box-2 {
  display: flex;
  align-items: center;
  color: #f7bb7a;

  .divider {
    height: 5px;
    background-color: #f9dfc3;
    flex: 1;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 5px;
  }

  .title {
    background-color: #fff;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
  }
}

.ab_card_t {
  position: relative;
  border: 1px solid #eee;
  border-radius: 8px;
  overflow: hidden;

  .count-show {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3px 6px;
    top: 3px;
    left: 3px;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 5px;

    span {
      font-size: 12px;
      margin-left: 5px;
    }
  }

  .thumbs {
    height: 200px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .desc {
    height: 100px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;

    .title {
      font-weight: 500;
      font-size: 14px;
    }

    .seller_name {
      b {
        font-size: 12px;
      }
    }

    .live-icon {
      height: 25px;
      width: 25px;
      font-size: 14px;
      background-color: red;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      margin-top: -20px;
      color: #fff;
      box-shadow: 0 0 5px #fff;
    }
  }
}

.card-product {
  display: block;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  transition: ease-in-out 0.2s;
  &.no-hover {
    &:hover {
      scale: unset;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    }
  }

  &:hover {
    scale: 1.03;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  }

  .top {
    position: relative;
    height: 200px;

    .isPromo {
      position: absolute;
      background-color: rgba(255, 0, 0, 0.8);
      color: #fff;
      left: 5px;
      top: 5px;
      height: 35px;
      width: 35px;
      font-size: 14px;
      font-weight: 600;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .body {
    padding: 3px;

    .product-name {
      height: 50px;
      overflow: hidden;

      span {
        font-size: 13px;
      }
    }

    .prices {
      height: 40px;
      display: flex;
      flex-direction: column;

      .promo {
        font-size: 15px;
        font-weight: 700;
        color: #f79c3a;
      }

      .basic {
        font-size: 15px;
        font-weight: 700;
        color: #f79c3a;

        &.isPromo {
          font-style: italic;
          font-size: 12px;
          text-decoration: line-through;
          color: #555;
        }
      }
    }

    .infos {
      display: flex;

      .rating {
        flex: 1;
        font-size: 12px;
        color: #f79c3a;
      }

      .count-sold {
        flex: 1;
        font-size: 12px;
      }
    }
    .action-wrapper {
      padding: 5px;
    }
  }
}

.card-product-more {
  height: calc(175px + 50px + 40px);
  background-color: #fff;
  display: block;
  padding: 3px;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: all ease-in-out 0.3s;

  &:hover {
    .layer {
      background-color: rgba(255, 255, 255, 0.3);
    }

    img {
      scale: 1.1;
      rotate: -5deg;
    }
  }

  .layer {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #888;

    ._ic_more {
      height: 35px;
      width: 35px;
      border-radius: 50%;
      border: 2px solid #888;
      font-size: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  img {
    width: 50%;
    transition: all ease-in-out 0.5s;
  }
}

.load-more {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  .btn-all-product {
    background-color: #f79c3a;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    font-weight: 500;
    color: #fff;
    transition: all ease-in-out 0.3s;

    &:hover {
      scale: 1.05;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
  }
}

.banner-section {
  background-color: hsla(27, 84%, 91%, 1);
  // background-image:
  //     radial-gradient(at 40% 20%, hsla(28, 100%, 74%, 1) 0px, transparent 50%),
  //     radial-gradient(at 0% 50%, hsla(355, 100%, 93%, 1) 0px, transparent 50%),
  //     radial-gradient(at 80% 50%, hsla(340, 75%, 87%, 1) 0px, transparent 50%),
  //     radial-gradient(at 0% 100%, hsla(22, 100%, 77%, 1) 0px, transparent 50%);

  .link-banner {
    img {
      border-radius: 8px;
      width: 100%;
    }
  }
}

footer {
  background-color: #f9dfc3;

  .main-footer {
    padding: 20px 0;
  }

  .copyright {
    height: 50px;
    background-color: #895e30;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ddd;
    font-size: 13px;
    font-weight: 400;
  }

  .footer-item {
    .title {
      font-weight: 600;
      color: #232323;
    }

    .contacts {
      .item {
        display: flex;
        margin-bottom: 5px;
        align-items: center;

        .ic {
          height: 25px;
          width: 25px;
          margin-right: 5px;
          background-color: #232323;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
        }

        span {
          font-size: 14px;
          font-weight: 600;
          color: #232323;
        }
      }
    }

    .social {
      .item {
        display: flex;
        margin-bottom: 5px;
        align-items: center;

        .ic {
          height: 25px;
          width: 25px;
          margin-right: 5px;
          color: #232323;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
        }

        span {
          font-size: 14px;
          font-weight: 400;
          color: #232323;
        }
      }
    }

    .app-box {
      display: flex;

      .link-app {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        background-color: #000;
        color: #eee;
        padding: 10px;
        border-radius: 5px;
      }
    }
  }
}

.mobile-menus {
  position: sticky;
  bottom: 0;
  background-color: #fff;
  z-index: 99;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  height: 60px;
  align-items: center;

  .menu-wrapper {
    display: flex;
    flex: 1;

    .item {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #232323;

      &.active {
        color: #f79c3a;
        font-weight: 500;
      }

      .icon {
        font-size: 20px;
      }

      span {
        font-size: 11px;
      }
    }
  }
}

.swiper {
  .slide-navigation {
    background-color: #f7bb7a;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    &::after {
      font-size: 16px;
      color: #fff;
    }
  }

  .slide-pagination.slide-pagination {
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
    .swiper-pagination-bullet {
      transition: all ease-in-out 0.5s;
      background-color: #000;
      &.swiper-pagination-bullet-active {
        background-color: #f79c3a;
        display: inline-block;
        width: 20px;
        border-radius: 10px;
      }
    }
  }

  .slide-pagination.slide-pagination.slide-small {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    .swiper-pagination-bullet {
      transition: all ease-in-out 0.5s;
      background-color: #000;
      &.swiper-pagination-bullet-active {
        background-color: #f79c3a;
        display: inline-block;
        width: 8px;
        border-radius: 10px;
      }
    }
  }
}

.auth-wrapper {
  .auth {
    height: 38px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-left: 5px;
    border-radius: 5px;
    &.login {
      background-color: #f79c3a;
      font-weight: 500;
      color: #fff;
      border: 1px solid #f79c3a;
    }
    &.register {
      color: #f79c3a;
      font-weight: 500;
      background-color: #fff;
      border: 1px solid #f79c3a;
    }
  }
}

// .live-box {
//   //   height: 100vh;
//   background-color: red;
//   video {
//     object-fit: cover;
//     padding: 0;
//     margin: 0;
//     height: 100%;
//     width: 100%;
//     margin-top: 0;
//   }
// }

// PRODUCT PAGE
.product-content {
  min-height: 100vh;
  .side-header {
    padding: 20px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    i {
      font-size: 22px;
      margin-right: 10px;
    }
    span {
      font-size: 18px;
      font-weight: 600;
    }

    .category-trigger {
      .btn-menu-category {
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        cursor: pointer;
        i {
          font-size: 26px;
        }
      }
    }
  }
  .side-menu-products {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: sticky;
    top: 100px;
    .main-category {
      width: 100%;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border: none;
      color: inherit;
      padding: 10px;
      font-size: 16px;
      font-weight: 600;
      &:hover {
        background-color: #fef2e5;
      }
    }
  }
  .child-categories {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .child-item {
      background-color: transparent;
      border: none;
      padding: 4px 4px 4px 12px;
      width: 100%;
      text-align: start;
      color: #555;
      font-size: 15px;
      &.active {
        color: #f28b1e;
        font-weight: 500;
      }
    }
  }
  .form-filter {
    position: sticky;
    top: 88px;
    padding: 15px;
    z-index: 15;
    background-color: #fff;
    .filter-wrapper {
      .filter-actions {
        display: flex;
        .action-filter {
          background-color: transparent;
          border: 1px solid #f79c3a;
          color: #f79c3a;
          background-color: #fff;
          padding: 7px;
          margin: 0 3px;
          border-radius: 5px;
          outline: none;
          cursor: pointer;
          transition: all ease-in-out 0.2s;
          font-size: 12px;
          &.selected,
          &:focus {
            background-color: #f79c3a;
            color: #fff;
          }
          &:hover {
            background-color: #f79c3a;
            color: #fff;
          }
        }
        .count {
          font-weight: 600;
          font-size: 18px;
        }
      }
    }
  }

  .pagination-custom {
    .pagination {
      .page-item {
        &.active {
          .page-link {
            background-color: #f79c3a;
            color: #fff;
            border: 1px solid #f28b1e;
          }
        }
        .page-link {
          color: #f28b1e;
        }
      }
    }
  }
}

.detail-product {
  .media-wrapper {
    position: sticky;
    top: 90px;
    .swiper {
      &.mainSwipper {
        border-radius: 8px;
        padding: 10px 0;
        .swiper-wrapper {
          border-radius: 8px;
          .swiper-slide {
            height: 300px;
            border-radius: 8px;
            overflow: hidden;
            img {
              height: 100%;
              width: 100%;
            }
          }
        }
      }
      &.thumbsSwipper {
        .swiper-wrapper {
          .swiper-slide {
            height: 90px;
            border-radius: 5px;
            overflow: hidden;
            cursor: pointer;
            img {
              height: 100%;
              width: 100%;
            }
          }
        }
      }
    }
  }

  .detail-wrapper {
    .product-detail {
      .product-name {
        font-size: 18px;
        font-weight: 500;
        color: #333;
      }
    }
    .detail-utils {
      padding: 10px;
      border-bottom: 1px solid #eee;
      display: flex;
      align-items: center;
      .item-util {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        flex: 1;
        .icon-seller {
          margin-right: 0;
          i {
            font-size: 12px;
          }
        }
        .name {
          font-size: 12px;
          text-align: center;
        }
        .text {
          font-size: 12px;
        }
      }
    }
  }
  .tab-wrapper {
    margin-top: 20px;
    .nav-tabs {
      position: sticky;
      top: 88px;
      background-color: #fff;
      border-bottom: none;
      .nav-item {
        .nav-link {
          border: none;
          border-radius: 0;
          color: inherit;
          font-size: 16px;
          font-weight: 500;
          &.active {
            border-bottom: 2px solid #f28b1e;
            border-right: none;
            border-left: none;
            border-top: none;
            font-weight: 500;
            color: #f28b1e;
          }
        }
      }
    }
  }

  .right-detail {
    margin-top: 10px;
    .box-info {
      background-color: hsla(23, 43%, 86%, 1);
      background-image: radial-gradient(
          at 40% 20%,
          hsla(98, 73%, 95%, 1) 0px,
          transparent 50%
        ),
        radial-gradient(at 0% 50%, hsla(32, 100%, 93%, 1) 0px, transparent 50%),
        radial-gradient(at 80% 50%, hsla(17, 100%, 76%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 100%, hsla(59, 100%, 77%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 0%, hsla(20, 100%, 76%, 1) 0px, transparent 50%);

      padding: 10px;
      border-radius: 10px;
      .item-info {
        display: flex;
        margin-bottom: 10px;
        i {
          width: 30px;
          font-size: 22px;
        }
        span {
          flex: 1;
          font-size: 15px;
          font-weight: 500;
        }
      }
    }
  }

  .action-boxes {
    border-radius: 8px;
    margin: 10px 0;
    padding: 10px;
    .header {
      font-weight: 700;
      font-size: 17px;
      margin-bottom: 12px;
    }
    .colors {
      display: flex;
      flex-wrap: wrap;
      .item-color {
        border: 1px solid #f79c3a;
        width: 100px;
        height: 50px;
        margin: 3px;
        padding: 5px;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: 500;
        cursor: pointer;
        border-radius: 10px;
        background-color: transparent;
        color: #fff;
        background-color: #f79c3a;
        transition: all ease-in-out 0.2s;
        &:hover {
          color: #fff;
          background-color: #ff8400;
        }
        &:focus {
          color: #fff;
          background-color: #ff8400;
        }
      }
      // grid-template-columns: 3fr;
    }

    .act-buy {
      display: flex;
      padding: 10px;
      border-radius: 8px;
      margin: 10px 3px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      .count-jumlah {
        border: 1px solid #ddd;
        padding: 6px;
        border-radius: 5px;
        &:focus-within {
          border: 1px solid #f7bb7a;
        }
        display: flex;
        button {
          background-color: transparent;
          border: transparent;
          font-size: 22px;
          width: 30px;
        }
        input {
          background-color: transparent;
          border: none;
          outline: none;
          text-align: center;
          width: 100%;
        }
      }
      .btn-cart {
        background-color: #f28b1e;
        height: 40px;
        width: 40px;
        margin-right: 10px;
        border: none;
        border-radius: 5px;
        color: #fff;
      }
      .btn-buy {
        background-color: #f28b1e;
        height: 40px;
        margin-right: 10px;
        border: none;
        border-radius: 5px;
        color: #fff;
        font-size: 13px;
      }
      .btn-like {
        background-color: #f28b1e;
        height: 40px;
        width: 40px;
        margin-right: 10px;
        border: none;
        border-radius: 5px;
        color: #fff;
      }
    }
  }

  .ulasan-item {
    display: flex;
    margin-bottom: 10px;
    .img-box {
      width: 30px;
      height: 30px;
      margin-right: 10px;
      border-radius: 50%;
      overflow: hidden;
      background-color: #eee;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    .text-box {
      flex: 1;
      .name {
        font-size: 13px;
        font-weight: 600;
      }
      .count-rate {
        color: #f79c3a;
        font-size: 12px;
        margin-right: 2px;
      }
      .message-box {
        max-width: 640px;
        @media (max-width: 576px) {
          max-width: 320;
        }
        overflow-wrap: break-word;
        .message-text {
          font-size: 14px;
        }
      }
    }
  }
  .prices {
    span {
      font-size: 22px;
      font-weight: 700;
      color: #f28b1e;
    }
  }
}
// PRODUCT PAGE

// PROFILE PAGE
.profile {
  .account-welcome {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;

    .img-wrapper {
      width: 40px;
      height: 40px;
      border: 1px solid #eee;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 10px;
      img {
        width: 100%;
      }
    }
    .greating-box {
      display: flex;
      align-items: center;
      flex: 1;
      height: 50px;
      .left {
        flex: 1;
        .text {
          font-size: 14px;
          font-weight: 300;
          color: #f28b1e;
        }
        .username {
          font-weight: 600;
          font-size: 12px;
        }
      }
      .btn-toggle-profile-menu {
        border: none;
        background-color: transparent;
        font-size: 32px;
      }
    }
  }
  .sidemenu {
    position: sticky;
    top: 100px;
    .menu-body {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 150px;
      bottom: 0;
      left: 0;
      right: 0;
      transform: translateX(-100vw);
      background-color: #fff;
      transition: all ease-in-out 0.2s;
      margin-top: 15px;
      &.show {
        transform: translateX(0);
        z-index: 99;
      }
      .menu-item {
        padding: 10px;
        display: flex;
        align-items: center;
        i {
          border: 1px solid #eee;
          display: flex;
          width: 30px;
          height: 30px;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          margin-right: 10px;
        }
        span {
          font-size: 16px;
        }

        &.active {
          i {
            border: 1px solid #f28b1e;
            color: #f28b1e;
          }
          span {
            font-size: 16px;
            color: #f28b1e;
          }
        }
      }
    }
  }

  .profile-info-wrapper {
    .title-text {
      font-size: 16px;
    }

    .form-image {
      border: 1px dashed #ddd;
      margin: 10px auto;
      display: flex;
      width: 100px;
      height: 100px;
      border-radius: 8px;
      overflow: hidden;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &:hover {
        border: 1px dashed #f7bb7a;
      }
      .image-preview {
        width: 90px;
        height: 90px;
      }
      .icon-edit-image {
        position: absolute;
        left: 4px;
        top: 4px;
        background-color: #000;
        width: 26px;
        height: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        color: #fff;
      }
    }
    .sub-title {
      background-color: #eee;
      height: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 0;
      span {
        background-color: #fff;
        padding: 10px;
        margin-bottom: 2px;
        font-weight: 500;
        font-size: 16px;
        color: #333;
      }
    }

    .input-wrapper {
      display: flex;
      align-items: center;
      border: 1px solid #eee;
      border-radius: 5px;
      padding: 5px;
      min-height: 40px;
      .ic {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .input-field {
        background-color: transparent;
        flex: 1;
        border: none;
        outline: none;
        font-size: 14px;
      }
    }

    .btn-save {
      width: 100%;
      height: 45px;
      background-color: #f28b1e;
      border-radius: 5px;
      border: none;
      color: #fff;
    }
  }

  .order-wrapper {
    .order-item {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      padding: 10px;
      border-radius: 8px;
      .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
        border-bottom: 1px dashed #eee;
        .invoice {
          .link {
            font-size: 14px;
            font-weight: 500;
          }
          .date-time {
            font-size: 12px;
          }
        }
        .status {
          font-size: 12px;
          display: flex;
          align-items: flex-start;
          padding: 2px 4px;
          border-radius: 4px;
          span {
            margin-left: 5px;
          }
        }
      }

      .bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-top: 10px;
        .price-info {
          display: flex;
          flex-direction: column;
          .text {
            font-size: 14px;
            color: #333;
          }
          .price {
            font-size: 20px;
            font-weight: 700;
            color: #f28b1e;
          }
        }
        .shipping {
          .link-shipping {
            color: #fff;
            background-color: #f28b1e;
            padding: 5px;
            border-radius: 5px;
          }
        }
      }

      &.belum-bayar {
        .top {
          .status {
            border: 1px solid #888;
            color: #888;
          }
        }
        .bottom {
          .shipping {
            .link-shipping {
              display: none;
            }
          }
        }
      }
      &.sudah-bayar {
        .top {
          .status {
            border: 1px solid #32c6f7;
            color: #32c6f7;
          }
        }
        .bottom {
          .shipping {
            .link-shipping {
              display: none;
            }
          }
        }
      }
      &.di-kirim {
        .top {
          .status {
            border: 1px solid #01d5a0;
            color: #01d5a0;
          }
        }
        .bottom {
          .shipping {
            .link-shipping {
              display: flex;
              padding: 2px 5px;
            }
          }
        }
      }
      &.di-kemas {
        .top {
          .status {
            border: 1px solid #4f01d5;
            color: #4f01d5;
          }
        }
        .bottom {
          .shipping {
            .link-shipping {
              display: none;
            }
          }
        }
      }
      &.pembayaran-gagal {
        .top {
          .status {
            border: 1px solid #f00;
            color: #f00;
          }
        }
        .bottom {
          .shipping {
            .link-shipping {
              display: none;
            }
          }
        }
      }
      &.selesai {
        .top {
          .status {
            border: 1px solid #0f8f06;
            background-color: #0f8f06;
            color: #fff;
            font-weight: 600;
          }
        }
        .bottom {
          .shipping {
            .link-shipping {
              display: none;
            }
          }
        }
      }
    }
  }
}
// PROFILE PAGE

@media (min-width: 576px) {
  .hero {
    padding: 10px 0;
    background: linear-gradient(#f9e9d6, #fff);

    .hero__left {
      flex: 1;
      height: 200px;
    }

    .hero__right {
      display: flex;
      flex-direction: column;

      height: 120px;

      .banner_right {
        height: 100%;
        margin: 2px;
        display: flex;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 8px;
        }
      }
    }

    .swiper-slide {
      height: 300px;
    }

    .swiper.heroSliderRight {
      .swiper-wrapper {
        .swiper-slide {
          height: 120px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .ab_main_nav {
    position: sticky;
    top: 0;
    z-index: 99;

    .logo {
      .logo-full {
        width: 130px;
      }

      .logo-img {
        width: 40px;
      }
    }

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255);

    .ab_top_nav {
      height: 32px;
      display: flex;
      align-items: center;
      background-image: linear-gradient(#f7bb7a, #f9dfc3);
      color: #232323;
    }

    .ab_bottom_nav {
      height: 57px;
      display: flex;
      align-items: center;

      .left {
        width: 180px;
      }

      .center {
        flex: 1;
        padding: 0 10px;

        .search-wrapper {
          width: 100%;

          display: flex;
          align-items: center;
          border: 1px solid #ddd;
          border-radius: 5px;

          &:focus-within {
            border: 1px solid #aaa;
          }

          input {
            flex: 1;
            border: none;
            outline: none;
            background-color: transparent;
            padding-left: 10px;
            height: 38px;
            font-size: 16px;
          }

          .ic_search {
            width: 30px;
            height: 38px;
            background-color: transparent;
            border: none;
          }
        }
      }

      .right {
        width: 180px;

        .menu-right {
          display: flex;
          align-items: center;

          .item {
            ._ic_box {
              border-radius: 6px;
              position: relative;
              width: 30px;
              height: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-right: 20px;
              font-size: 20px;
              color: #888;

              .count-item {
                position: absolute;
                top: -3px;
                left: 19px;
                height: 19px;
                min-width: 19px;
                border-radius: 50px;
                padding: 2px;
                background-color: red;
                border: 2px solid #fff;
                font-size: 9px;
                color: #fff;
                font-weight: 800;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }

            .profile {
              font-size: 14px;
              color: #232323;

              img {
                background-color: rgb(255, 255, 255);
                border: 1px solid #ddd;
                border-radius: 50%;
                padding: 3px;
                width: 33px;
                height: 33px;
              }
            }
          }
        }
      }
    }

    .menus {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1;
      font-size: 13px;

      .menu {
        display: flex;
      }

      .left {
        display: flex;
        align-items: center;

        span {
          font-size: 12px;
          font-weight: 600;
        }

        ._icon_download_app {
          display: flex;
          width: 22px;
          height: 22px;
          background-color: #000;
          margin-left: 5px;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          color: #fff;
        }
      }

      .right {
        .item {
          .link {
            display: flex;

            ._ic {
              margin-right: 3px;
              position: relative;

              .badge_ic {
                position: absolute;
                height: 6px;
                width: 6px;
                background-color: rgb(255, 50, 50);
                top: -1px;
                left: -1px;
                border-radius: 5px;
              }
            }
          }
        }
      }
    }
  }
  .hero {
    padding: 10px 0;
    background: linear-gradient(#f9e9d6, #fff);

    .hero__left {
      flex: 1;
      height: 300px;
    }

    .hero__right {
      display: flex;
      flex-direction: column;

      height: 200px;

      .banner_right {
        height: 100%;
        margin: 2px;
        display: flex;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 8px;
        }
      }
    }

    .swiper.heroSliderRight {
      .swiper-wrapper {
        .swiper-slide {
          border-radius: 10px;
          height: 200px;
        }
      }
    }
  }

  .top-category-box {
    .category-item {
      width: 100px;
      height: 120px;

      &:hover {
        img {
          rotate: (-5deg);
          scale: 1.1;
        }
      }

      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
        transition: all ease-in-out 0.3s;
      }

      span {
        font-size: 12px;
        text-align: center;
        display: block;
        padding-bottom: 5px;
      }
    }
  }

  .live-box {
    background-color: #fff;
    margin-top: 10px;
  }

  .header-box {
    display: flex;
    align-items: center;
    color: #f7bb7a;

    .divider {
      height: 5px;
      background-color: #f9dfc3;
      flex: 1;
      border-radius: 5px;
    }

    .title {
      background-color: #fff;
      display: flex;
      align-items: center;

      i {
        font-size: 28px;
        margin: 0 10px;
      }

      span {
        font-size: 32px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }

  .header-box-2 {
    display: flex;
    align-items: center;
    color: #f7bb7a;

    .divider {
      height: 5px;
      background-color: #f9dfc3;
      flex: 1;
      margin-top: 5px;
      margin-left: 5px;
      border-radius: 5px;
    }

    .title {
      background-color: #fff;
      display: flex;
      align-items: center;
      font-size: 28px;
      font-weight: 700;
    }
  }

  .ab_card_t {
    position: relative;
    border: 1px solid #eee;
    border-radius: 8px;
    overflow: hidden;
    display: block;

    .count-show {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 3px 6px;
      top: 3px;
      left: 3px;
      color: #fff;
      display: flex;
      align-items: center;
      border-radius: 5px;

      span {
        font-size: 12px;
        margin-left: 5px;
      }
    }

    .thumbs {
      height: 300px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .desc {
      height: 100px;
      padding: 5px;
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.3);
      color: #fff;

      .title {
        font-weight: 500;
      }

      .seller-name {
        font-size: 16px;
      }

      .live-icon {
        height: 30px;
        width: 30px;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        margin-top: -15px;
        color: #fff;
        box-shadow: 0 0 5px #fff;
      }
    }
  }

  .detail-product {
    .media-wrapper {
      .swiper {
        &.mainSwipper {
          .swiper-wrapper {
            .swiper-slide {
              height: 450px;
            }
          }
        }
        &.thumbsSwipper {
          .swiper-wrapper {
            .swiper-slide {
              height: 80px;
            }
          }
        }
      }
    }

    .detail-wrapper {
      .product-detail {
        .product-name {
          font-size: 18px;
          font-weight: 500;
          color: #333;
        }
      }
      .detail-utils {
        padding: 10px;
        border-bottom: 1px solid #eee;
        display: flex;
        align-items: center;
        .item-util {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 0 10px;
          flex: 1;
          .icon-seller {
            margin-right: 10px;
            i {
              font-size: 14px;
            }
          }
          .name {
            font-size: 14px;
            text-align: center;
          }
          .text {
            font-size: 14px;
          }
        }
      }
    }
  }

  .profile {
    .sidemenu {
      .account-welcome {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;
        .img-wrapper {
          width: 40px;
          height: 40px;
          border: 1px solid #eee;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 10px;
          img {
            width: 100%;
          }
        }
        .greating-box {
          display: flex;
          align-items: center;
          flex: 1;
          height: 50px;
          .left {
            flex: 1;
            .text {
              font-size: 14px;
              font-weight: 300;
              color: #f28b1e;
            }
            .username {
              font-weight: 600;
              font-size: 12px;
            }
          }
        }
      }
      .menu-body {
        display: flex;
        flex-direction: column;
        position: relative;
        top: unset;
        transform: translateX(0);
        background-color: #fff;
        transition: all ease-in-out 0.2s;
        margin-top: 15px;
        .menu-item {
          padding: 10px;
          display: flex;
          align-items: center;
          i {
            border: 1px solid #eee;
            display: flex;
            width: 30px;
            height: 30px;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            margin-right: 10px;
          }
          span {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .ab_main_nav {
    .ab_bottom_nav {
      height: 57px;
      display: flex;
      align-items: center;

      .left {
        width: 280px;
      }

      .right {
        width: 280px;
      }
    }
  }

  .live-wrapper-show {
    height: 100vh;
    overflow: hidden;
    position: relative;
  }

  .live-box-show {
    background-color: #fff;
    .video-player {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      outline: none;
      border: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    .icon-close {
      position: fixed;
      padding: 10px;
      z-index: 10;
      left: 10px;
      .link-back {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        height: 35px;
        width: 35px;
        border-radius: 50%;
      }
    }

    .live-chat {
      background-color: rgba(0, 0, 0, 0.3);
      position: fixed;
      z-index: 11;
      top: 10px;
      right: 10px;
      width: 25vw;
      height: 90vh;
      border-radius: 8px;
      overflow: auto;
      display: flex;
      flex-direction: column;
      .header {
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-weight: 700;
        font-size: 22px;
      }
      .body {
        flex: 1;
        padding: 10px;
        overflow: auto;
        .chat-item {
          display: flex;
          border-radius: 50px;
          margin-bottom: 16px;
          .avatar {
            width: 30px;
            height: 30px;
            margin-right: 10px;
            background-color: #fff;
            border-radius: 50%;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .text {
            flex: 1;
            // background-color: rgba(255, 255, 255, 0.8);
            font-size: 16px;
            color: #fff;
            border-radius: 5px 10px 10px 10px;
            // padding: 10px;
          }
        }
      }
      .form-box {
        position: sticky;
        bottom: 0;
        height: 60px;
        .form-chat-box {
          display: flex;
          padding: 10px;
          .inputText {
            flex: 1;
            outline: none;
            border-radius: 8px;
            border: none;
            padding: 0 10px;
          }
          .btn-send-chat {
            width: 40px;
            height: 40px;
            background-color: transparent;
            border: none;
            background-color: #000;
            color: #fff;
            margin-left: 6px;
            border-radius: 8px;
          }
        }
      }
    }
    .selected-product {
      background-color: rgba(0, 0, 0, 0);
      position: fixed;
      z-index: 11;
      top: 80px;
      left: 10px;
      width: 23vw;
      height: 35vh;
      border-radius: 8px;
      padding: 10px;
      height: 70vh;
      .title {
        font-weight: 700;
        font-size: 22px;
        color: #fff;
        margin-bottom: 10px;
      }
      .product-box {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        padding: 10px;
        .item-product {
          .prd {
            display: flex;
            overflow: hidden;
            .img-wrapper {
              height: 100px;
              width: 100px;
              overflow: hidden;
              background-color: #fff;
              border: 1px solid #fff;
              margin-right: 5px;
              border-radius: 5px;
              overflow: hidden;
              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
            .infos {
              flex: 1;
              span {
                font-size: 14px;
                color: #fff;
              }
            }
          }
        }
        .actions {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          .price {
            font-size: 18px;
            font-weight: 700;
            flex: 1;
            color: #f28b1e;
          }
          .btn-in-review {
            padding: 5px 10px;
            margin-left: 5px;
            background-color: #f28b1e;
            color: #fff;
            border: none;
            border-radius: 5px;
          }
        }
      }
    }

    .open-product-live {
      position: absolute;
      bottom: 70px;
      left: 10px;
      background-color: #fff;
      border-radius: 5px;
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
    }
  }

  .productList {
    position: absolute;
    top: 100vh;
    background-color: #fff;
    z-index: 12;
    width: 100%;
    height: 70vh;
    overflow: auto;
    transition: all ease-in-out 0.3s;
    &.show {
      top: 30vh;
      padding-bottom: 100px;
    }
    .open-product-live {
      position: sticky;
      top: 10px;
      left: 10px;
      z-index: 13;
      background-color: #fff;
      color: #000;
      font-size: 22px;
      border-radius: 5px;
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
    }
  }

  .product-content {
    .form-filter {
      .filter-wrapper {
        .filter-actions {
          .action-filter {
            padding: 7px 10px;
            margin: 0 5px;
            border-radius: 5px;
            font-size: 16px;
            &.selected,
            &:focus {
              background-color: #f79c3a;
              color: #fff;
            }
            &:hover {
              background-color: #f79c3a;
              color: #fff;
            }
          }
          .count {
            font-weight: 600;
            font-size: 18px;
          }
        }
      }
    }
  }

  .detail-product {
    .media-wrapper {
      .swiper {
        &.mainSwipper {
          .swiper-wrapper {
            .swiper-slide {
              height: 300px;
            }
          }
        }
        &.thumbsSwipper {
          .swiper-wrapper {
            .swiper-slide {
              height: 80px;
            }
          }
        }
      }
    }
  }

  .hero {
    padding: 10px 0;
    background: linear-gradient(#f9e9d6, #fff);

    .hero__left {
      flex: 1;
      height: 300px;
    }

    .hero__right {
      display: flex;
      flex-direction: column;

      height: 300px;

      .banner_right {
        height: 146px;
        margin: 2px;
        display: flex;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 8px;
        }
      }
    }

    .swiper-slide {
      height: 300px;
    }

    .swiper.heroSliderRight {
      .swiper-wrapper {
        .swiper-slide {
          border-radius: 10px;
          height: 145px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .detail-product {
    .media-wrapper {
      .swiper {
        &.mainSwipper {
          .swiper-wrapper {
            .swiper-slide {
              height: 400px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1400px) {
}
