a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: inherit;
}

* {
  box-sizing: border-box;
}

.ab_main_nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
}
.ab_main_nav .logo .logo-full {
  width: 130px;
}
.ab_main_nav .logo .logo-img {
  width: 40px;
}
.ab_main_nav .ab_top_nav {
  height: 32px;
  display: flex;
  align-items: center;
  background-image: linear-gradient(#f7bb7a, #f9dfc3);
  color: #232323;
}
.ab_main_nav .ab_bottom_nav {
  height: 57px;
  display: flex;
  align-items: center;
}
.ab_main_nav .ab_bottom_nav .left {
  width: 280px;
}
.ab_main_nav .ab_bottom_nav .center {
  flex: 1;
  padding: 0 10px;
}
.ab_main_nav .ab_bottom_nav .center .search-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid #DDD;
  border-radius: 5px;
}
.ab_main_nav .ab_bottom_nav .center .search-wrapper:focus-within {
  border: 1px solid #AAA;
}
.ab_main_nav .ab_bottom_nav .center .search-wrapper input {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  padding-left: 10px;
  height: 38px;
  font-size: 16px;
}
.ab_main_nav .ab_bottom_nav .center .search-wrapper .ic_search {
  width: 30px;
  height: 38px;
  background-color: transparent;
  border: none;
}
.ab_main_nav .ab_bottom_nav .right {
  width: 280px;
}
.ab_main_nav .ab_bottom_nav .right .menu-right {
  display: flex;
  align-items: center;
}
.ab_main_nav .ab_bottom_nav .right .menu-right .item ._ic_box {
  border-radius: 6px;
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  font-size: 20px;
  color: #888;
}
.ab_main_nav .ab_bottom_nav .right .menu-right .item ._ic_box .count-item {
  position: absolute;
  top: -3px;
  left: 19px;
  height: 19px;
  min-width: 19px;
  border-radius: 50px;
  padding: 2px;
  background-color: red;
  border: 2px solid #FFF;
  font-size: 9px;
  color: #FFF;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ab_main_nav .ab_bottom_nav .right .menu-right .item .profile {
  font-size: 14px;
  color: #232323;
}
.ab_main_nav .ab_bottom_nav .right .menu-right .item .profile img {
  background-color: rgb(255, 255, 255);
  border: 1px solid #DDD;
  border-radius: 50%;
  padding: 3px;
  width: 33px;
  height: 33px;
}
.ab_main_nav .menus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  font-size: 13px;
}
.ab_main_nav .menus .menu {
  display: flex;
}
.ab_main_nav .menus .left {
  display: flex;
  align-items: center;
}
.ab_main_nav .menus .left span {
  font-size: 12px;
  font-weight: 600;
}
.ab_main_nav .menus .left ._icon_download_app {
  display: flex;
  width: 22px;
  height: 22px;
  background-color: #000;
  margin-left: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #FFF;
}
.ab_main_nav .menus .right .item .link {
  display: flex;
}
.ab_main_nav .menus .right .item .link ._ic {
  margin-right: 3px;
  position: relative;
}
.ab_main_nav .menus .right .item .link ._ic .badge_ic {
  position: absolute;
  height: 6px;
  width: 6px;
  background-color: rgb(255, 50, 50);
  top: -1px;
  left: -1px;
  border-radius: 5px;
}

.hero {
  padding: 10px 0;
  background: linear-gradient(#f9e9d6, #FFF);
}
.hero .hero__left {
  flex: 1;
}
.hero .hero__right {
  display: flex;
  flex-direction: column;
  height: 300px;
}
.hero .hero__right .banner_right {
  height: 50%;
  margin: 2px;
  display: flex;
}
.hero .hero__right .banner_right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.hero .swiper {
  width: 100%;
  height: 100%;
}
.hero .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 300px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.top-category-box {
  background-color: #FFF;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 8px;
}
.top-category-box .category-item {
  width: 100px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
.top-category-box .category-item:hover img {
  rotate: -5deg;
  scale: 1.1;
}
.top-category-box .category-item img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all ease-in-out 0.3s;
}
.top-category-box .category-item span {
  font-size: 12px;
  text-align: center;
  display: block;
  padding-bottom: 5px;
}

.live-box {
  background-color: #FFF;
  margin-top: 10px;
}

.header-box {
  display: flex;
  align-items: center;
  color: #F00;
}
.header-box .divider {
  height: 5px;
  background-color: #F00;
  flex: 1;
}
.header-box .title {
  background-color: #FFF;
  display: flex;
  align-items: center;
}
.header-box .title i {
  font-size: 32px;
  margin: 0 10px;
}
.header-box .title span {
  font-size: 32px;
}

.ab_card_t {
  position: relative;
  border: 1px solid #EEE;
  border-radius: 8px;
  overflow: hidden;
}
.ab_card_t .count-show {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3px 6px;
  top: 3px;
  left: 3px;
  color: #FFF;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.ab_card_t .count-show span {
  font-size: 12px;
  margin-left: 5px;
}
.ab_card_t .thumbs {
  height: 300px;
}
.ab_card_t .thumbs img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.ab_card_t .desc {
  height: 100px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: #FFF;
}
.ab_card_t .desc .title {
  font-weight: 500;
}
.ab_card_t .desc .seller-name {
  font-size: 16px;
}
.ab_card_t .desc .live-icon {
  height: 30px;
  width: 30px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-top: -15px;
  color: #FFF;
  box-shadow: 0 0 5px #FFF;
}/*# sourceMappingURL=ab_styles.css.map */